* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  color: rgb(252, 252, 244);
  background-color: rgb(0, 0, 0);
  text-align: right;

}

header {

  color: #fff;
  text-align: center;
  padding: 0px;

}


main {


  padding: 20px;
}


nav ul {
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.856);
  padding: 20px;
  text-align: center;
  font-size: medium;
 







}

nav ul li {
  display: inline-block;
  margin-right: 40px;
  font-family: sans-serif;
 

  




}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: medium;




}


.banner {
  background-image: url('imagens/vingadores-ultimato-teaser-instagram-1210x540.webp');
  width: auto;
  height: 500px;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  


}




.banner h1 {
  font-size: 100px;
  margin: 0%;
  color: rgb(234, 231, 240);
  opacity: 1px;
  text-align: center;
  margin-top: 183px;
  text-shadow: 0.1em 0.1em 0.05em #070707;








}

.banner p {
  font-size: 18px;
  padding: 100px 100px;
  font-size: medium;
  text-align: justify;
  opacity: 0, 5;



}

section {
  background-color: black;




}

.secao-titulo {
  margin-bottom: 10px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  display: block;

}

.secao-link {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #d61313;
  color: #fff;
  border-radius: 5px;
  width: 200px;
  font-size: medium;

}

.secao-img {
  margin-right: 20px;
  display: block;
  margin: auto;
  border: 5px solid rgb(245, 244, 250);
  width: 300px;
  text-align: center;
  float: inline-end;
  margin-left: 100px;
  margin-top: 50px;
  margin: auto;

}



.secao-sinopse {
  margin-top: 35px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: large;
  text-align: center;

}

.secao-descricao {
  margin: 10px;
  font-size: medium;
  text-align: justify;
  border: solid white 1px;
  padding: 20px;



}
.footer {
  width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #272727;
    color: #f3ebeb;
    box-sizing: border-box;
}